[package]
name = "myniri"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
clap = { version = "4.5.48", features = ["derive"] }
niri-ipc = { version = "=25.8.0", features = ["clap"] }
